body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        #gallery {
            display: flex;
            flex-direction: column;
        }

        .image-container {
            width: 150px;
            height: 150px;
            margin: 10px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .image-container img {
            width: 100%;
            height: auto;
        }

        .pokemon-container {
            display: flex;
        }